.input-error text {
    display: block;
}

.input-error {
    background: var(--red-dark);
}

.input-error input {
    border: solid 1px var(--red-dark);
}

.input-error input:hover {
    transition: 0.2s;
    border: solid 1px var(--red);
}

.input-error input:focus {
    transition: 0.2s;
    border: solid 1px var(--red);
}


.input-accept {
    transition: 0.2s;
    background: var(--green-dark);
}

.input-accept input {
    transition: 0.2s;
    border: solid 1px var(--green-dark);
}

.input-accept input:hover {
    transition: 0.2s;
    border: solid 1px var(--green);
}

.input-accept input:focus {
    transition: 0.2s;
    border: solid 1px var(--green);
}


.authorization-input {
    transition: 0.2s;
    background: var(--light-gray);
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    border-radius: 0.263rem;
}

.authorization-input input {
    transition: 0.2s;
    box-sizing: border-box;
    width: 100%;
    background: var(--graphite);
    padding: 0.684rem 0.736rem 0.684rem 0.736rem;
    border: solid 1px var(--light-gray);
    border-radius: 0.263rem;
    display: block;
    font-size: 0.947rem;
    color: var(--white);
}

.authorization-input input:hover {
    transition: 0.2s;
    border: solid 1px var(--sun-gray);
}

.authorization-input input:focus {
    transition: 0.2s;
    border: solid 1px var(--sun-gray);
}

.authorization-input text {
    text-align: left;
    transition: 0.2s;
    display: none;
    font-size: 0.736rem;
    padding: 0.368rem 0.684rem;
}

.authorization-input text:empty {
    display: none;
}

.authorization-input input:-webkit-autofill,
.authorization-input input:-webkit-autofill:hover,
.authorization-input input:-webkit-autofill:active,
.authorization-input input:-webkit-autofill:focus,
.authorization-input input:autofill {
    background-color: var(--graphite);
    border: solid 1px var(--light-gray);
    font-size: 0.947rem;
}

.authorization-input-active text {
    display: block;
}

.box-auth {
    display: flex;
    flex-direction: column;
    gap: 1.052rem;
    width: 23.684rem;
    height: auto;
    padding: 2.105rem;
    border: solid 1px var(--light-gray);
    border-radius: 0.578rem;
}

.box-auth .box-toggle {
    width: 100%;
}

.box-auth .box-checkbox > span {
    align-items: flex-start;
}

.box-auth-form {
    display: flex;
    flex-direction: column;
    gap: 1.052rem;
    width: 100%;
    height: auto;
}

.block-auth {
    width: var(--block);
    height: calc(100vh - 13.368rem);
    min-height: auto;
    max-height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 6.315rem 0rem;
}

.auth-button {
    width: auto;
    margin-top: 0.526rem;
}

.button, button {
    transition: 0.1s cubic-bezier(0.54, 3.11, 0.6, 0.47);
    user-select: none;
    font-size: 0.947rem;
    font-weight: 500;
    background: var(--blue);
    border: solid 0px var(--blue);
    color: #fff;
    border-radius: 0.263rem;
    box-sizing: border-box;
    padding: 0.684rem 1.315rem 0.684rem 1.315rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: max-content;
    height: 2.5263rem;
    line-height: 124%;
    fill: #fff;
}

.button:hover, button:hover {
    background: var(--blue-middle);
    border: solid 0px var(--blue-middle);
    transform: scale(1.03);
}

.button:active, button:active {
    background: var(--blue-dark);
    border: solid 0px var(--blue-dark);
    transform: scale(0.98);
}

.button-sec, .button-sec:hover, .button-sec:active {
    color: var(--blue-dark);
    fill: var(--blue-dark);
    background: var(--white);
    border: solid 0px var(--white);
}

.button-sec:hover {
    opacity: 0.7;
}

.button-sec:active {
    opacity: 0.6;
}

.button-green {
    background: var(--green);
    border: solid 0px var(--green);
}

.button-green:hover {
    background: var(--green-middle);
    border: solid 0px var(--green-middle);
}

.button-green:active {
    background: var(--green-dark);
    border: solid 0px var(--green-dark);
}

.button-red {
    background: var(--red);
    border: solid 0px var(--red);
}

.button-red:hover {
    background: var(--red-middle);
    border: solid 0px var(--red-middle);
}

.button-red:active {
    background: var(--red-dark);
    border: solid 0px var(--red-dark);
}

.button-disabled, .button-disabled:hover, .button-disabled:active,
button:disabled, button:disabled:hover, button:disabled:active {
    background: var(--light-gray);
    border: solid 0px var(--light-gray);
    color: #626262;
    opacity: 1;
    transform: scale(1);
    fill: #626262;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.checkbox {
    width: 0px;
    height: 0;
}

.box-checkbox > input {
    z-index: -1;
    opacity: 0;
    position: relative;
    justify-self: center;
    align-self: center;
    width: 0px;
    height: 0px;
}

.box-checkbox > span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.box-checkbox > span::before {
    transition: 0.2s;
    box-sizing: border-box;
    content: '';
    display: inline-block;
    width: 1.157rem;
    height: 1.157rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: solid 1px var(--light-gray);
    border-radius: 0.263rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0% 0%;
    /*background-image: url('/content/icons/dot-checkbox.svg');*/
}

.box-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
    border: solid 1px var(--light-gray);
}

.box-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
    transition: 0.2s;
    border: solid 1px var(--blue);
    background-size: 20% 20%;
    /*background-image: url('/content/icons/dot-checkbox.svg');*/
}

.box-checkbox > input:not(:disabled):not(:checked) + span:active::before {
    transition: 0.1s;
    border: solid 1px var(--blue);
    background-size: 35% 35%;
    /*background-image: url('/content/icons/dot-checkbox.svg');*/
}


.box-checkbox > input:checked + span:hover::before {
    transition: 0.1s;
    border: solid 1px var(--blue);
    background-color: var(--blue);
    background-size: 56% 56%;
    /*background-image: url('/content/icons/dot-checkbox.svg');*/
}

.box-checkbox > input:not(:disabled):active + span::before {
    border: solid 1px var(--light-gray);
}

.box-checkbox > input:focus:not(:checked) + span::before {
    border: solid 1px var(--light-gray);
}

.box-checkbox > input:checked + span::before {
    transition: 0.2s;
    border: solid 1px var(--blue-middle);
    background-color: var(--blue-middle);
    /*background-image: url('/content/icons/dot-checkbox.svg');*/
    background-size: 43% 43%;
}

.box-checkbox > input:checked + span:hover:before {
    transition: 0.1s;
    border: solid 1px var(--blue);
    background-color: var(--blue);
    /*background-image: url('/content/icons/dot-checkbox.svg');*/
    background-size: 49% 49%;
}

.block-checkbox .text {
    height: auto;
    display: grid;
    font-size: 0.842rem;
    margin-left: 1.052rem;
}

.block-checkbox text {
    align-self: center;
}

.authorization-input {
    transition: 0.2s;
    background: var(--light-gray);
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    border-radius: 0.263rem;
}

.authorization-input input {

    transition: 0.2s;
    box-sizing: border-box;
    width: 100%;
    background: var(--graphite);
    padding: 0.684rem 0.736rem 0.684rem 0.736rem;
    border: solid 1px var(--light-gray);
    border-radius: 0.263rem;
    display: block;
    font-size: 0.947rem;
    color: var(--white);
}

.authorization-input input:hover {
    transition: 0.2s;
    border: solid 1px var(--sun-gray);
}

.authorization-input input:focus {
    transition: 0.2s;
    border: solid 1px var(--sun-gray);
}

.authorization-input text {
    text-align: left;
    transition: 0.2s;
    display: none;
    font-size: 0.736rem;
    padding: 0.368rem 0.684rem;
}

.authorization-input text:empty {
    display: none;
}

.text-view {
}

.input-error text {
    display: block;
}

.input-error {
    background: var(--red-dark);
}

.input-error input {
    border: solid 1px var(--red-dark);
}

.input-error input:hover {
    transition: 0.2s;
    border: solid 1px var(--red);
}

.input-error input:focus {
    transition: 0.2s;
    border: solid 1px var(--red);
}

.input-accept {
    transition: 0.2s;
    background: var(--green-dark);
}

.input-accept input {
    transition: 0.2s;
    border: solid 1px var(--green-dark);
}

.input-accept input:hover {
    transition: 0.2s;
    border: solid 1px var(--green);
}

.input-accept input:focus {
    transition: 0.2s;
    border: solid 1px var(--green);
}


.authorization-input input:-webkit-autofill,
.authorization-input input:-webkit-autofill:hover,
.authorization-input input:-webkit-autofill:active,
.authorization-input input:-webkit-autofill:focus,
.authorization-input input:autofill {
    background-color: var(--graphite);
    border: solid 1px var(--light-gray);
    font-size: 0.947rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--white);
    transition: background-color 5000s ease-in-out 0s;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.947rem;
    caret-color: var(--white);
}

.authorization-input-active text {
    display: block;
}

.code2fa {
    letter-spacing: 0.5rem;
}

input[type=number] {
    -moz-appearance: textfield;
}


.box-toggle {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    border: solid 1px var(--light-gray);
    height: max-content;
    border-radius: 0.3684rem;
    gap: 0.1579rem;
    padding: 0.1579rem;
    height: 2.5263rem;
    box-sizing: border-box;
}

.box-toggle button:empty {
    display: none;
}

.box-toggle button {
    height: 100%;
    align-items: center;
    border-radius: 0.2684rem;
    background-color: var(--graphite);
    color: var(--sun-gray);
    width: 100%;
}

.box-toggle button:hover {
    background-color: var(--light-gray);
    transform: scale(1);
}

.box-toggle button:active {
    background-color: var(--light-gray);
    transform: scale(0.97);
}

.box-toggle button:disabled {
    background-color: var(--blue);
    color: white;
}

.block-auth {
    width: var(--block);
    height: calc(100vh - 13.368rem);
    min-height: auto;
    max-height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 6.315rem 0rem;
}

.box-auth {
    display: flex;
    flex-direction: column;
    gap: 1.052rem;
    width: 23.684rem;
    height: auto;
    padding: 2.105rem;
    border: solid 1px var(--light-gray);
    border-radius: 0.578rem;
}

.box-auth-form {
    display: flex;
    flex-direction: column;
    gap: 1.052rem;
    width: 100%;
    height: auto;
}

.auth-button {
    width: auto;
    margin-top: 0.526rem;
}

.box-auth .box-toggle {
    width: 100%;
}

.box-auth .box-checkbox > span {
    align-items: flex-start;
}

