.theme-dark .profile-info {
    --color-reaction: rgb(255, 255, 255, 0.1);
    --hover-color-reaction: rgb(255, 255, 255, 0.2);
    --text-color-reaction: var(--color-text);
    --color-reaction-chosen: #3390ec;
    --hover-color-reaction-chosen: #4096ec
}

.profile-info {
    position: absolute;
    width: 350px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    border: solid 1px var(--color-primary);
    border-radius: 0.263rem;
    box-shadow: 0 1px 2px var(--color-default-shadow);
    background-color: var(--color-background);
}

.profile-info-header h3 {
    height: var(--header-height);
    padding: .375rem 25% .5rem 25%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 1.25rem;
    font-weight: 500;
    -webkit-user-select: none;
    user-select: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

@media (min-width: 1921px) {
    .profile-info {
        --max-width: calc(30vw - 1rem)
    }
}

@media (max-width: 600px) {
    .profile-info {
        margin-bottom: .25rem
    }
}

.NewChat {
    height: 100%;
    overflow: hidden;
    position: relative
}

.NewChat-inner {
    height: calc(100% - var(--header-height));
    overflow: hidden
}

.NewChat-inner.step-2 {
    padding: 0 1.35rem;
    display: inline-block;
    flex-direction: row;
}

.NewChat-inner.step-2 .note, .NewChat-inner.step-2 .error {
    font-size: .875rem;
    line-height: 1.25rem;
    margin: 1.5rem .25rem
}

.NewChat-inner.step-2 .error {
    color: var(--color-error)
}

.NewChat-inner.step-2 .note {
    margin-top: -0.5625rem;
    color: var(--color-text-secondary)
}

